body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  background-color: aliceblue;
}

.btn {
  color: black;
  text-decoration: none;
  background-color: pink;
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 2;
}

.btn::after {
  content: "";
  position: absolute;
  background-color: orange;
  height: 0;
  width: 0;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.5s;
}

.btn:hover::after {
  width: 300px;
  height: 300px;
}
